.project {
    display: flex;
    flex:1 0 auto;
    .card {
        .project-logo {
            width: 70px;
            height: 70px;
            object-fit: cover;
            object-position: center;
        }
    }
}

#newproject {
    .modal-header {
        div.text-center {
            border-bottom: 2px solid #02c1a6;
        }
        button.close {
            &:focus {
                box-shadow: none;
            } 
        }
    }
}

.loader {
    width: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
    .material-icons {
        color: #909090;
    }
}