<main class="container">
    <!-- Header Section -->
    <section class="mt-5 row mx-0 d-flex align-items-center">
        <div class="col-md-6">
            <h5 class="page-title p-1 font-smbold">Projects</h5>
        </div>
        <div class="col-md-6" *ngIf="projects?.length > 0">
            <div class="d-flex justify-content-end page-header-right">
                <div class="input-group mb-0 w-auto search flex-fill">
                    <div class="input-group-prepend">
                        <span class="input-group-text pr-0"><i class="material-icons">search</i></span>
                    </div>
                    <input type="text" class="form-control border-left-0" [(ngModel)]="searchText" placeholder="Search projects" />
                </div>
                <button 
                    class="btn btn-primary ml-4 d-flex align-items-center add-project"
                    data-toggle="modal"
                    data-target="#newproject">
                    <i class="material-icons">add</i><span>New Project</span>
                </button>
            </div>
        </div>
    </section>
    <!-- Main Section -->
    <section class="mt-4 row mx-0">
        <!-- Projects -->
        <div class="col-md-4 project" *ngFor="let project of projects | filter: searchText">
            <div class="card w-100 h-100 border-0 shadow-sm">
                <div class="card-body">
                    <img class="project-logo mb-2" src="assets/images/project_icon.png" alt="P" />
                    <h5 class="card-title project-title font-smbold">
                        {{ project.data.name }}
                    </h5>
                    <p class="card-text project-desc">{{ project.data.description }}</p>
                    <div class="dropdown project-settings">
                        <button
                            class="btn dropdown-toggle d-flex align-items-center justify-content-center shadow-sm"
                            type="button"
                            data-toggle="dropdown">
                            <i class="material-icons">settings</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right border-0 shadow-lg mt-2 px-1">
                            <button
                                class="dropdown-item d-flex align-items-center py-2 rounded"
                                type="button"
                                data-toggle="modal"
                                data-target="#newproject"
                                (click)="setProject(project)">
                                <i class="material-icons">edit</i>&nbsp;&nbsp;Edit
                            </button>
                            <button
                                class="dropdown-item d-flex align-items-center py-2 rounded"
                                type="button"
                                data-toggle="modal"
                                data-target="#delproject"
                                (click)="setProject(project)">
                                <i class=" material-icons">delete</i>&nbsp;&nbsp;Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- No projects message -->
        <div *ngIf="projects?.length == 0" class="no-projects w-100 text-center py-5">
            <img src="assets/images/project_icon.png" class="mb-4" alt="" />
            <h5 class="text-muted mb-3">Hmmm! It seems you have no projects :(</h5>
            <button 
                class="btn btn-primary d-flex align-items-center add-project mx-auto"
                data-toggle="modal"
                data-target="#newproject">
                <i class="material-icons">add</i>New Project
            </button>
        </div>
        <!-- Loader -->
        <div *ngIf="!isdataLoaded">
            <img class="loader" src="assets/images/loader.svg" alt="" />
        </div>
        <!-- Add Update Project Modal -->
        <div class="modal fade" id="newproject" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-3">
                    <form 
                        name="form"
                        (ngSubmit)="cpform.form.valid && onSubmit(cpform)"
                        #cpform="ngForm">
                        <div class="modal-header border-0">
                            <h5 
                                *ngIf="isEditing"
                                class="modal-title font-smbold pb-1">
                                Update Project
                            </h5>
                            <h5 
                                *ngIf="!isEditing"
                                class="modal-title font-smbold pb-1">
                                Create New Project
                            </h5>
                            <button
                                type="button"
                                class="close"
                                onclick="$('#newproject').modal('hide');"
                                (click)="resetDefaults()"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body py-3">
                            <div class="form-group">
                                <label for="projecttitle" class="font-smbold">Project Title</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    id="projecttitle"
                                    placeholder="Your awesome project name"
                                    required
                                    [(ngModel)]="selectedProject.name"
                                    #projecttitle="ngModel"
                                    name="projecttitle"
                                    [ngClass]="{
                                        'is-invalid': projecttitle.touched && !projecttitle.valid,
                                        'is-valid': projecttitle.touched && projecttitle.valid
                                    }"/>
                                <div *ngIf="projecttitle.touched && projecttitle.valid" class="valid-feedback">
                                    Nice!
                                </div>
                                <div *ngIf="projecttitle.touched && !projecttitle.valid" class="invalid-feedback">
                                    Please enter project title.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectdesc" class="font-smbold">Project Description</label>
                                <textarea
                                    class="form-control"
                                    id="projectdesc"
                                    rows="5"
                                    placeholder="Tell us something about the project in detail"
                                    required
                                    [(ngModel)]="selectedProject.description"
                                    #projectdesc="ngModel"
                                    name="projectdesc"
                                    [ngClass]="{
                                        'is-invalid': projectdesc.touched && !projectdesc.valid,
                                        'is-valid': projectdesc.touched && projectdesc.valid
                                    }"></textarea>
                                <div *ngIf="projectdesc.touched && projectdesc.valid" class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div *ngIf="projectdesc.touched && !projectdesc.valid" class="invalid-feedback">
                                    Please enter project description.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-0">
                            <button
                                *ngIf="isEditing"
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!cpform.valid"
                                onclick="$('#newproject').modal('hide');">
                                Update Project
                            </button>
                            <button
                                *ngIf="!isEditing"
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!cpform.valid"
                                onclick="$('#newproject').modal('hide');">
                                Create Project
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete Project Modal -->
        <div class="modal fade" id="delproject" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-3">
                    <form name="form" (ngSubmit)="onDelete(delform)" #delform="ngForm">
                        <div class="modal-header border-0">
                            <h5 class="modal-title font-smbold pb-1">
                                Delete Project Confirmation
                            </h5>
                            <button
                                type="button"
                                class="close"
                                (click)="resetDefaults()"
                                onclick="$('#delproject').modal('hide');"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body py-3">
                            <p>
                                All the data associated with the <strong>project</strong> will
                                be <strong>deleted permanently.</strong> Only proceed if you are
                                absolutely sure about this.
                            </p>
                            <p>
                                In order to delete the project, type the
                                <strong>name</strong> of the project (<strong>{{ selectedProject.name }}
                                </strong>) and click on delete button.
                            </p>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Name of project to be deleted"
                                required
                                validateEqual="{{ selectedProject.name }}"
                                ngModel #projectname="ngModel"
                                name="projectname"
                                [ngClass]="{
                                    'is-invalid': projectname.touched && !projectname.valid
                                }" />
                            <div *ngIf="projectname.touched && !projectname.valid" class="invalid-feedback">
                                Project name doesn't matches !
                            </div>
                        </div>
                        <div class="modal-footer border-0">
                            <button
                                type="button"
                                class="btn btn-light"
                                onclick="$('#delproject').modal('hide');"
                                (click)="resetDefaults()">
                                Cancel
                            </button>
                            <button
                                type="submit"
                                class="btn btn-danger"
                                onclick="$('#delproject').modal('hide');"
                                [disabled]="!delform.valid">
                                Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>