.loader {
    width: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.material-icons {
    font-size: 18px;
}

.search {
    .input-group-prepend {
        height: 38px;
        .input-group-text {
            background-color: white;
        }
    }
    input {
        &:focus {
            box-shadow: none !important;
            border-color: #ced4da;
        }
    }
}

.project {
    display: flex;
    flex:1 0 auto;
    margin-bottom: 30px;
    .card {
        .project-logo {
            width: 70px;
            height: 70px;
            object-fit: cover;
            object-position: center;
        }
    }
}

#newproject, #delproject {
    .modal-header {
        .modal-title {
            border-bottom: 2px solid #02c1a6;
        }
        button.close {
            &:focus {
                box-shadow: none;
                outline: none;
            } 
        }
    }
}

.project-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
    .material-icons {
        color: #909090;
    }
}

@media screen and (max-width: 1023px) {
    .add-project {
        span {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .page-header-right {
        justify-content: start !important;
    }
}